/* GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Luckiest Guy', cursive;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

/* HEADER */
header {
    padding: 28px 0;
    background-color: #0F0F0F;
    color: #FFF;
}

header .menu {
    margin-left: 370px;
}

header nav li {
    display: inline;
    margin-left: 40px;
    font-size: 24px;
    text-transform: uppercase;  
}

header nav li a {
    color: #FFF;
    text-decoration: none;
}

header nav li a:hover {
    color: #FFFF00;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .btn-baixar button {
    font-size: 24px;
    background-color: #FFFF00;
    color: #0F0F0F;
    text-align: center;
    text-transform: uppercase; 
    border: none;
    padding: 10px 40px;  
    cursor: pointer;
}

header .btn-baixar button:hover {
    transform: scale(1.05);
    transition: .1s;
}

/* SOBRE */
section.about {
    padding: 70px 0;
    color: #FFF;
    background-color: black;
}

section .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

section h2 {
    margin-bottom: 16px;
    font-weight: normal;
    font-size: 35px;
    text-transform: uppercase;
}

section p {
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 18px;
}

.brands-list li {
    display: inline;
    margin-right: 30px;
}

.brands-list li img {
    margin-top: 20px;
}

.img-bigbang {
    margin-right: 50px;
}

.btn-about .btn-saiba, .btn-assista {
    display: inline-block;
}

.btn-about .btn-saiba button {
    font-size: 24px;
    background-color: #FFFF00;
    color: #0F0F0F;
    text-align: center;
    text-transform: uppercase; 
    border: none;
    padding: 10px 40px;  
    cursor: pointer;
    margin-top: 30px;
}

.btn-about .btn-saiba button:hover {
    transform: scale(1.05);
    transition: .1s;
}

.btn-about .btn-assista button {
    font-size: 24px;
    background-color: #1e1e1e;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    border: none;
    padding: 10px 40px;  
    cursor: pointer;
    margin-top: 30px;
    margin-left: 30px;
}

.btn-about .btn-assista button:hover {
    transform: scale(1.05);
    transition: .1s;
}

/* CONTATO */
section.contact {
    padding: 50px 0;
    background-color: #1E1E1E;
}

.contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    background-color: #0E0E0F;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

form textarea {
    resize: none;
    height: 180px;
}

.contact h2 {
    color: #FFFF00;
    font-size: 32px;
    margin-bottom: 30px;
}

.contact h3 {
    margin-bottom: 16px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
}

form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    background-color: #FFFF00;
    color: #1E1E1E;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
}

form button:hover {
    transform: scale(1.02);
    transition: .1s;
}

input:focus, textarea:focus {
    outline-color: #FFFF00;
}

.social-links li {
    display: inline;
    margin-right: 13px;
}

.social-links li a {
    text-decoration: none;
}

.menu-contato {
    margin-top: 70px;
}

.menu-contato li {
    list-style-type: none;
    margin-top: 12px;
}

.menu-contato li a {
    font-family: 'Montserrat', sans-serif;
    color: #a6a6a6;
    font-size: 16px;
    text-decoration: none;
}

.menu-contato li a:hover {
    color: #FFF;
}

.contact h4 {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    margin-bottom: 16px;
}

.contact p {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    margin-top: 16px;
}

/* FOOTER */
footer {
    background-color: #0F0F0F;
    padding: 16px 0;    
}

footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    color: #a6a6a6;
}






