/* GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

/* HEADER */
header {
    padding: 25px 0;
    background-color: #0F0F0F;
    color: #FFF;
}

header .menu {
    margin-left: 600px;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #FFF;
    text-decoration: none;
}

header nav li a:hover {
    color: #FFFF00;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

